/* @import "tailwindcss"; */
*{
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* import font from local TTFirsNeue */
@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-bg: #ffffff;
  --header-height: 80px;
  --header-padding: 40px;
  --header-dropdown-height: 140px;
  --text-color: #181818;
  --alpha-bg: #18181815;
  --text-size: 13px;
  --main-width: 1440px;
  --ease-in-out: cubic-bezier(.55,0,.1,1);
}

@media (width <= 1440px) {
  :root{
    --main-width: 1024px;
    --header-dropdown-height: 240px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  font-family: "TT Firs Neue", "Comic Sans MS";
}


